.big-box {
    background-color: greenyellow;
    width: 217vh;
    height: 95vh;
}

.box-wrapper {
    background-color: whitesmoke;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin-left: 5px;
    margin-top: 5px;

    display: flex;
    justify-content: center;
}