body {
    background-color: greenyellow;
}

.big-box {
    width: 217vh;
    height: 95vh;
}

.box-wrapper {
    background-color: whitesmoke;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-top: 20px;
}

.icon {
    width: 10px;
    height: 10px;
    display: flex;
}